*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul a{
    font-weight: bold;
    background-color: aquamarine;
    color: black;
    font-size: large;
}
/* These below did not work */
ul a #1{text-align: left;}

ul a #2{text-align: center;}

ul a #3{text-align: right;}

h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;

}