*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul a{
    font-weight: bold;
    background-color: aquamarine;
    color: black;
    font-size: large;
    margin: 18px;
    padding: 20px;
    border: 36px;
}

h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    display: block;
    background-color: lightyellow;
    margin: 36px 24px;
    padding: 24px;
}